<script setup lang="ts"></script>

<template>
  <v-parallax
    src="https://images.unsplash.com/photo-1585245332774-3dd2b177e7fa?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1158&q=80"
  >
    <v-card class="mx-auto" max-width="344">
      <v-img src="/img/01.jpg" cover></v-img>

      <v-card-title> :: ITE4T ::</v-card-title>

      <v-card-subtitle> 1,000,000,000,000 subscribe </v-card-subtitle>

      <v-card-actions>
        <v-btn color="orange-lighten-2" variant="text"> Explore </v-btn>

        <v-spacer></v-spacer>

        <v-btn variant="outlined" @click="show = !show">Show</v-btn>
      </v-card-actions>

      <v-expand-transition>
        <div v-show="show">
          <v-divider></v-divider>
          <div class="text-center">
            <v-avatar image="/img/02.jpg" size="100"></v-avatar>
          </div>
          <v-card-text>
            Student Code: 63160206 <br />
            Name : Pongsakon Dockchaaim <br />
            Nickname : It <br />
            BirthDay : 8 Nov 2001 <br />
            Age : 21 year old <br />
            Degree : Undergraduate <br />
          </v-card-text>
        </div>
      </v-expand-transition>
    </v-card>
  </v-parallax>
</template>

<script>
export default {
  data: () => ({
    show: false,
  }),
};
</script>
